body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #0e0d0d;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(82, 80, 80);
  font-size: 16px;
  font-weight: 100px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 1.5px solid #898d99;
  border-radius: 5px;
}

.weather-app-wraper {
  max-width: 600px;
  margin: 30 auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64 px;
  width: 64 px;
}

.weather-temperature strong {
  color: #0e0d0d;
  font-size: 64px;
  line-height: 1;
  font-weight: 400px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-temperature active {
  color: rgb (33, 33, 33);
  cursor: default;
}
.weather-temperature active :hover {
  text-decoration: none;
}
